form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
  }
   input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   